POSTGRES_PASSWORD=abcd1234AAAA
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_INTERNAL_DATABASE_URL=

FRONTEND_RECAPTCHA_SITE_KEY=

CLI_API_URL=http://localhost:3000
CLI_FRONTEND_URL=http://localhost
CLI_POLL_INTERVAL=
CLI_MAX_POLL_ATTEMPTS=

BACKEND_PUBLIC_DB_HOST=
BACKEND_PUBLIC_DB_PORT=
BACKEND_RECAPTCHA_SECRET_KEY=

TIMESCALE_USER=timescale
TIMESCALE_PASSWORD=
TIMESCALE_DB=timescaledb
TIMESCALE_PORT=5433